<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="vhsRepository" 
		class="net.test.persistence.repository.VhsRepositoryImpl" />

	<bean id="dvdRepository" 
		class="net.test.persistence.repository.DvdRepositoryImpl" />

	<bean id="reservationService" 
		class="net.test.services.ReservationServiceImpl">
		<property name="vhsRepository" ref="vhsRepository" />
		<property name="dvdRepository" ref="dvdRepository" />
	</bean>
</beans>